[Unit]
Description = Payara Server
After = syslog.target network.target

[Service]
Type = forking
User={{ trsa.payara.user }}
ExecStart = /usr/bin/java -jar {{ trsa.payara.dir }}/glassfish/lib/client/appserver-cli.jar start-domain
ExecStop = /usr/bin/java -jar {{ trsa.payara.dir }}/glassfish/lib/client/appserver-cli.jar stop-domain
ExecReload = /usr/bin/java -jar {{ trsa.payara.dir }}/glassfish/lib/client/appserver-cli.jar restart-domain

[Install]
WantedBy = multi-user.target
