server {
    listen       80 default_server;
    listen       [::]:80 default_server;
    server_name  {{ nginx.service_fqdn }};

    location / {
        proxy_pass              http://localhost:8080;
        proxy_read_timeout      90s;
        proxy_redirect          http://localhost:8080 http://{{ nginx.service_fqdn }};
    }

    error_page 404 /404.html;
        location = /40x.html {
    }

    error_page 500 502 503 504 /50x.html;
        location = /50x.html {
    }
}
