:Protocol	{{ trsa.doi.protocol }}
:Shoulder	{{ trsa.doi.shoulder }}
:DoiProvider	{{ trsa.doi.provider }}
:BlockedApiPolicy	{{ trsa.blocked_api_policy }}
:Authority	{{ trsa.doi.authority }}
:TrsaLocalFiles	{{ trsa.payara.files_dir }}
:NotaryServiceEnabled	{{ trsa.notaryservice.enabled }}
